# Object files
./src/*.o
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#tmp file
#.cproject
#.project
#.settings
VERSION
build
doc
version.h
src/doctotext
tests/c_api_test
tests/cpp_api_test
tests/multithreading_test
tests/read_from_buffer_test

